/* Hero Section Styles */
.hero-section-bg {
    background-image: url("assets/img/wp8143551-darth-sidious-lightsaber-wallpapers.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    overflow: auto;
  }

  .btn:hover {
     background-color: #710100 !important;
     border-color: #710100 !important;
  }

  .btn-outline-danger {
   border-color: #710100 !important;
   --bs-btn-color: #710100 !important;
  }

  /* Main Section Styles */
  .card {
   width: 18rem;
   height: 22rem;
   background-color: #710100 !important;
   color: white !important;
  }
 
  .content-margin-custom {
   margin-top: 120px;
  }

  .card-img-top {
   max-height: 300px;
   object-fit: contain;
  }